extends ../layout-wide
block content
    .mapWrapper
        .text-center.map-fixed-header
            .row.map-buttons
                button.center-block.btn.btn-block.btn-primary.active#showAll Collapse all challenges
            .row.map-buttons
                .input-group
                    input#map-filter.form-control(type="text" placeholder="Type a challenge name" autocomplete="off" value="")
                    span.input-group-addon
                        i.fa.fa-search
            hr
            include ../partials/flash
        #accordion.map-accordion
          #noneFound No results found. Happy Coding!
          for superBlock, index in superBlocks
              for challengeBlock in superBlock.blocks
                  h3
                    a(data-toggle='collapse', data-parent='#nested', href='#nested-collapse'+challengeBlock.name.replace(/(\W)/gi, '').split(' ').join('-'))
                      span.no-link-underline
                        i.fa.fa-caret-down
                      | #{challengeBlock.name}
                    span.challengeBlockTime (#{challengeBlock.time})
                  div.margin-left-10(id = "nested-collapse"+challengeBlock.name.replace(/\W/gi, '').split(' ').join('-') class = "collapse in map-collapse no-transition chapterBlock")
                      for challenge in challengeBlock.challenges
                          if challenge.completed
                              p.challenge-title.faded.text-primary.ion-checkmark-circled.padded-ionic-icon.negative-15(name="#{challenge.dashedName}")(class=challenge.id === currentChallengeId?"currentChallengeId":"")
                                  a(href="#{challenge.url}" target='_parent')
                                      = challenge.title
                                      span.sr-only= " Complete"
                          else if challenge.isRequired
                              p.challenge-title.ion-ios-circle-outline.padded-ionic-icon.negative-15(name="#{challenge.dashedName}")(class=challenge.id === currentChallengeId?"currentChallengeId":"")
                                  a(name="#{challenge.dashedName}" target='_parent' href="#{challenge.url}" class=challenge.isComingSoon ? 'disabled' : '')
                                      span= challenge.title
                                      span.sr-only= " Incomplete"
                                  if challenge.markNew
                                      span.text-info.small &thinsp; &thinsp;
                                          strong
                                              em New
                                  if challengeBlock.isComingSoon
                                      span.text-info.small &thinsp; &thinsp;
                                          strong
                                              em Coming Soon
                                  span.text-primary &thinsp; &thinsp;
                                      strong *
                          else
                              p.challenge-title.ion-ios-circle-outline.padded-ionic-icon.negative-15(name="#{challenge.dashedName}")(class=challenge.id === currentChallengeId?"currentChallengeId":"")
                                  a(name="#{challenge.dashedName}" target='_parent' href="#{challenge.url}" class=challenge.isComingSoon ? 'disabled' : '')
                                      span= challenge.title
                                      span.sr-only= " Incomplete"
                                  if challenge.markNew
                                      span.text-info.small &thinsp; &thinsp;
                                          strong
                                              em New
                                  if challengeBlock.isComingSoon
                                      span.text-info.small &thinsp; &thinsp;
                                          strong
                                              em Coming Soon
          .spacer
        include ../partials/flash
